.resetforgot .center {
  background-color: #ad2829;
  color: white;
  border-radius: 1em;
  padding: 1em;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 31.25em;
}

.resetforgot .row {
  display: flex;
}

@media screen and (max-width: 550px) {}