.center {
  background-color: #01263a;
  color: white;
  border-radius: 1em;
  padding: 1em;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 31.25em;
}

.row {
  width: 500px;
  display: flex;
}

label, input {
  padding: 0.5em ;
}

.btn {
  width: 100%;
  margin-top: 1.5em;
  align-items: center;
}

@media screen and (max-width: 550px) {
  .row {
    width: 400px;
    justify-content: center;
    align-items: center;
  }
}