body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: maroon;
  height: 50px;
}

.header a {
  color: white;
  text-decoration: none;
  padding: 0 0px;
}

main {
  margin-left: 150px;
}

main h1 {
  margin-top: 30px;
}

main h3 {
  margin-top: 10px;
}

#number {
  width: 120px;
  height: 120px;
  line-height: 40px;
  border-radius: 50%;
  font-size: 40px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 85px;
}

.table-user-info {
  border-spacing: 10px 20px;
}

.table-user-info td {
  border: 0 solid black;
  height: 300px;
  background-color: grey;
  border-radius: 7px;
  color: white;
  text-align: center;
}

#table-user-report {
  width: 350px;
}

#table-regis-user {
  width: 300px;
}

#table-regis-user number {
  background-color: white;
  height: 100px;
  width: 100px;
}

#tabel-users {
  border-collapse: separate;
  border-spacing: 15px 0;
}

#tabel-users .fas {
  padding-left: 1000px;
}

hr {
  width: 90%;
  margin-left: -0px;
}

#tabel-users td {
  margin: 20px 30px;
}

#foto-profile {
  width: 40px;
  border-radius: 30px;
  background: grey;
}

.navigation {
  margin: 50px 0px 30px 1100px;
}

.navigation span,
.navigation a {
  font-size: 1.25em;
  color: white;
  border: 0 solid grey;
  background: grey;
  border-width: 5px;
  text-decoration: none;
}

footer {
  height: 100px;
  width: 100%;
  background-color: brown;
}

@media screen and (max-width: 750px) {
  main {
    margin-left: 50px;
  }

  .table-user-info td {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #table-regis-user {
    display: block;
  }

  #table-user-report,
  #table-regis-user {
    margin: 20px 5px;
    width: 24rem;
  }

  #number {
    width: 140px;
    height: 140px;
    margin-left: 120px;
  }

  #tabel-users {
    border-collapse: separate;
    border-spacing: 15px 0;
  }

  #tabel-users .fas {
    padding-left: 170px;
  }

  hr {
    margin-left: -1px;
    width: 400px;
  }

  .navigation {
    margin: 50px 0px 30px 270px;
  }
}
